<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Job Platform</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="main-header">
  <div class="container header-content">
    <a href="/" class="logo">Jobify</a>

    <nav class="navbar">
      <% if (user) { %>
        <a href="/dashboard">dashboard</a>
        <% if (user.role === 'recruiter') { %>
          <a href="/jobs/post">Post Job</a>
        <% } %>
        <a href="/jobs">jobs</a>
        <form class="logout-btn" action="/logout" method="post"><button>Logout</button></form>
      <% } else { %>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
      <% } %>
    </nav>
  </div>
</header>


